*{
    margin: 0;
    /* LAVA THEME */
    /* --first: #370617;
    --second: #e85d04;
    --third: #9d0208;
    --fourth: #6a040f;
    --text: #ffecd1; */
    /* FISH THEME  */
    --first: #15616d;
    --second: #f9b24d;
    --third: #0e9594;
    --fourth: #001524;
    --text: #ffecd1;
    /* RED-GRAY THEME */
    /* --first: #f5f3f4;
    --second: #867876;
    --third: #d3d3d3;
    --fourth: #4d0001;
    --text: #ae0104; */
    /* SOLID NIGHT THEME */
    /* --first: #748cab;
    --second: #ebebeb;
    --third: #1d2d44;
    --fourth: #0d1321;
    --text: #f0ebd8; */
}

body{
    background-color: var(--first);
    font-family: 'Sriracha', cursive;
}

.spacer{
    /* aspect-ratio: 960/300; */
    position: absolute;
    width: 100vw;
    /* width: 1080px; */
    /* height: 50vw; */
    /* height: min(50vw, 550px); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.wave1{
    background-image: url('./wave5.svg');
    height: 800px;
}

h1{
    text-align: center;
    padding-top: min(3vw, 2rem);
    margin-bottom: min(6vw, 2rem);
}

h2{
    color:var(--fourth);
    margin-bottom: 1rem;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.center{
    margin-inline: 1rem;
}


#dayHolder{
    max-width: max(60vw,30rem);
    max-width: clamp(30rem, 60vw, 35rem);
}

.dayCard{
    /* width: max(10vw,5rem); */
    width: clamp(5rem, 10vw, 5.83333rem);
    /* height: max(5.1vw,2.55rem); */
    /* margin-right: 1rem; */
    /* margin-inline: max(1vw,0.5rem); */
    margin-inline: clamp(0.5rem, 1vw, 0.58333rem);
    margin-top: 0.5rem;
    padding: 0;
}

h2, form{
    margin-inline: clamp(0.5rem, 1vw, 0.58333rem);
}

button{
    /* height: 2.5rem; */
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text);
    /* color: #ffffff; */
    background-color: var(--third);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 0;
    border-radius: 3px;
    /* border-color: var(--fourth); */
}

.dayCard > p{
    padding-top: clamp(0.2rem, 0.6vw, 0.6rem);
    /* padding-top: max(0.6vw,0.2rem); */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: clamp(1.3rem, 1.5vw, 1.5rem)
    /* height: max(2.6vw,1.3rem); */
}

.dayCard:hover{
    background-color: var(--fourth);
    cursor: pointer;
}

.dayCard:active{
    background-color: var(--second);
}

.dayCard p:nth-child(2):active{
    color: var(--first)
}

.chosen{
    background-color: var(--second);
}

.chosen p:nth-child(2){
    color: var(--first)
}

.chosen:hover{
    background-color: var(--second);
    /* color: var(--first) */
}

.month{
    background-color: var(--fourth);
    /* padding-top: max(0.4vw,0.2rem); */
    /* padding-bottom: max(0.4vw,0.2rem); */
    /* height: 1.35rem; */
}

form{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

label{
    color: var(--text);
    margin-right: 0.6rem;
}

.submit{
    padding: 0.2rem;
}

.submit:active{
    color: var(--first);
}

@media screen and (max-width: 538px) {

    /* #dayHolder{
        display: flex;
        justify-content: right;
        flex-direction: column;
    }*/

    .dayCard{
        width: 35vw;
    }

    .dayCard > p{
        /* display: inline-block; */
        /* margin-inline: 0.2rem; */
        margin-bottom: 0.2rem;
        height: 2rem;
        font-size: 1.3rem;
    } 

    #dayHolder{
        margin: 0 auto;
        width: 80vw;
        display: grid;
        grid-template-columns: auto auto;

        /* padding: 0.5rem; */
    }

    form{
        flex-direction: column;
        margin-top: 0;
    }

    form div:nth-child(2){
        display: flex;
        justify-content: center;
    }

    label{
        /* text-align: center; */
        font-size: 1.5rem;
        margin-left: 3.4rem;
        margin-right: 0;
        /* display: block; */
    }

    input{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        margin-left: 0.5rem;
        /* width: 10rem; */
        height: 2rem;
        font-size: 1.1rem;
    }

    .input{
        margin: 1rem auto;
    }


    .submit{
        width: 8rem;
        padding: 0.5rem 0;
    }
}
